.task-item {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
  background: var(--secondary-color);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border-color: var(--border-color);
  box-shadow: var(--box-shadow-black);
  order: -1;
  &.done {
    order: unset;
    background: #00000055;
  }
  @media screen and (min-width: 480px) {
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
  }
}

.task-item-text {
  flex: 1;
  padding: 0.25rem 0.5rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  hyphens: auto;
  hyphenate-limit-chars: auto;
  word-break: break-word;
  .done & {
    text-decoration: line-through;
    color: #dbd8f799;
  }
  @media screen and (min-width: 480px) {
    & {
      min-height: 2.5rem;
    }
  }
}

.task-item form {
  width: 100%;
  display: flex;
  gap: 0.4rem;
  & input {
    flex: 1;
    padding: 0.5rem;
  }
  @media screen and (min-width: 480px) {
    gap: 0.75rem;
  }
}


.task-item-text[contenteditable="true"] {
  border-color: var(--border-color);
  border-radius: 4px;
  width: auto;
  background-color: var(--font-color-light);
  box-shadow: var(--box-shadow-button);
  .done & {
    color: var(--font-color-dark);
    text-decoration: none;
  }
}

.chkbox-wrap {
  padding-top: 0.3rem;
  @media screen and (min-width: 480px) {
    & {
      padding-top: 0.5rem;
    }
  }
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.4em;
  height: 1.4em;
  border: 0.15em solid var(--primary-color);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "u";
  width: 0.8em;
  height: 0.8em;
  transform: scale(0);
  transition: 50ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
  transform-origin: center center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/*
  border-color: var(--border-color);
  border-radius: 4px;
  width: auto;
  background-color: var(--font-color-light);
  box-shadow: var(--box-shadow-button);
*/
